body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

p {
    color:rgb(255, 251, 8)
}

h1 {
    color:red;
    font-style: italic;
}
.James {
    width: 50%;
}
.Kirk {
    color:rgb(97, 162, 211)
}
h3 {
    color:red;
}
h2 {
    color:aqua
}
.Kill {
    width: 30%;
    text-align: center;
}
.Ride {
    width: 30%;
    text-align: center;
}