body {
    background-color: rgb(255, 0, 0);
    text-align: center;
}

p {
    color:rgb(255, 251, 8)
}

h1 {
    color:white
    font-style: italic;
}
.ferrari123 {
    width: 50%;
}
.F40 {
    color:green;
}
