body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

p {
    color:rgb(255, 251, 8)
}

h1 {
    color:red
    font-style: italic;
}
.James {
    width: 50%;
}
.Kirk {
    color:rgb(47, 110, 135)
}
h3 {
    color: aliceblue;
}
h2 {
    color:aqua
}
